<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

<!-- bean definitions here -->
    <!-- <bean id="sd1" class="com.STRSpring.Spring1_Demo"></bean> -->
     <bean id="se" class="com.STRSpring.EmployeeSpring">
     	<property name="empName" value="Ramu"></property>
     	<property name="empId" value="5644"></property>
		
	</bean> 

    
</beans>